.header__logo {
  margin-bottom: 41px;
}

@media screen and (max-width: 912px) {
  .header__logo {
    padding-left: 27px;
    box-sizing: border-box;
    margin-bottom: 32px;
  }
}


@media screen and (max-width: 500px) {
    .header__logo {
      max-height: 25px;
    }
  }