.form__input {
  display: block;
  border: none;
  width: 358px;
  height: 27px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.form__input:nth-child(2) {
  margin-bottom: 0px;
}

@media screen and (max-width: 544px) {
    .form__input {
      width: 238px;
      height: 27px;

    }
  }
